.hero{
  position: relative;
  z-index: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  .hero-block{
    padding-top: 10vh;
    .hero__subtitle{
      padding-left: 200px;
      line-height: 100%;
    }
    .hero__title{
      line-height: 100%;
    }
  }
}
.about-page{
  height: 100vh;
  display: flex;
}
.about{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  z-index: 3;
  padding-left: 100px;
  padding-bottom: 60px;
  .about-block{
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    position: relative;
    .message__title{
      color: #8A898E;
      font-size: 21px;
      margin: 0 0 5px 9px;
    }
    .message{
      padding: 20px 34px 20px;
      background: linear-gradient(0deg, #E9E9EB, #E9E9EB), #C4C4C4;
      border-radius: 30px;
      margin-bottom: 5px;
      position: relative;
      span{
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: radial-gradient(73.4% 73.4% at 48.3% 50%, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0.266) 100%), linear-gradient(0deg, #000000, #000000);
        font-size: 36px;
        line-height: 80%;
        font-weight: 200;
        strong{
          font-weight: 600;
        }
      }
      .stack-list{
        margin-top: 10px;
        li{
          font-weight: 600;
          font-size: 24px;
          line-height: 100%;
          margin-left: 18px;
          padding-left: 5px;
          position: relative;
        }
        li::before{
          content: '';
          position: absolute;
          top:2px;
          left:-18px;
          height: 18px;
          width: 18px;
          background: url('../../images/list.png');
          background-size: cover;
        }
      }
    }
    .message:nth-child(4){
      padding-bottom: 35px;
    }
    .message:nth-child(4)::before{
      position: absolute;
      content: url('../../images/corner.png');
      bottom:-1px;
      left:-10px;
    }
  }
  .write{
    position: absolute;
    bottom:-30px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 60px;
    border:1px solid gray;
    filter:invert(1);
    img{
      width: 50%;
    }
  }
}
.main-photo{
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 0;
}
@media(max-width:1024px){
  .hero{
    padding-left: 20px;
    .hero-block{
      padding-top: 0vh;
      padding-bottom: 5vh;
      .hero__subtitle{
        padding-left: 0px;
      }
      .hero__title{
        line-height: 80%;
        padding-bottom: 12px;
      }
    }
  }
  .about{
    padding-left: 0px;
    position: relative;
    .about__title{
      position: absolute;
      bottom: 15px;
      right:auto;
      left:10px;
      font-size: 48px;
    }
    .about-block{
      // padding-bottom: 15vh;
      // padding-left: 10px;
      .message__title{
        font-size: 12px;
      }
      .message{
        padding: 15px 20px;
        border-radius: 20px;
        span{
          font-size: 22px;
        }
        .stack-list{
          margin-top: 5px;
          li{
            font-size: 16px;
            margin-left: 10px;
            padding-left: 7px;
          }
          li::before{
            width: 12px;
            height: 12px;
            left:-10px
          }
        }
      }
      .message:nth-child(4){
        padding-bottom: 25px;
      }
    }
  }
  .main-photo{
    display: none;
  }
}