.portfolio{
  position: relative;
  z-index: 3;
  padding-bottom: 400px;
  .portfolio__title{
    font-size: 72px;
  }
  .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.portfolio-page{
  min-height: 100vh;
}
@media(max-width:1024px){
  .portfolio{
    .portfolio__title{
      position: absolute;
      font-size: 48px;
      text-align: right;
      right:0;
    }
    .portfolio-list{
      padding-top: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}