.portfolio{
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  .portfolio__title{
    font-size: 72px;
  }
  .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}