*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
}
html {
  scroll-behavior: smooth;
}
body{
  background: #000;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

.global-wrapper::before{
  content: url('../images/shadow.png');
  position: fixed;
  top:0;
  left:0;
}
.container{
  position: relative;
  width: 1400px;
  margin: 0 auto;
  
}
::-webkit-scrollbar { width: 0 !important }
.title{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(73.4% 73.4% at 48.3% 50%, rgba(239, 241, 255, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(0deg, rgba(61, 61, 61, 0.63), rgba(61, 61, 61, 0.63));
  font-size: 96px;
  font-weight: bold;
  text-shadow: 0px 2.68421px 18.7895px rgba(0, 0, 0, 0.25),0px 2.6842105388641357px 138.90789794921875px 0px #FFFFFF40 inset;

}
.subtitle{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(73.4% 73.4% at 48.3% 50%, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0.266) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  text-shadow: 0px 2.68421px 18.7895px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 36px;
}
.to-scroll{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  .to-scroll__text{
    padding: 20px 0 20px 100px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    opacity: 0.5;
  }
}
@media(max-width:1024px){
  .title{
    font-size: 62px;
    max-width: 300px;
  }
  .subtitle{
    font-size: 22px;
  }
  .container{
    overflow-x: hidden;
    width: 90vw;
    margin: 0 5vw;
  }
  .to-scroll{
    .to-scroll__text{
      padding: 20px 0 20px 0;
      font-size: 12px;
    }
  }
}